<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>The Cobra Den | Mobile Security and Research</title>
    <link href='https://fonts.googleapis.com/css?family=Cuprum:400,300,700'
          rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "all" %>
  </head>
  <body>
    <%= partial 'partials/global_nav' %>
    <div class="body-outer" role="main">
      <%= yield %>
    </div>
    <%= partial 'partials/footer' %>
  </body>
</html>
