<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <div class="logo">The Cobra Den</div>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/">Home</a></li>
        <li class="nav-link"><a href="http://blog.thecobraden.com">Blog</a></li>
        <li class="nav-link"><a href="/about">About</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">Projects</a>
          <ul class="submenu">
            <li><a href="/projects/dtf/">Android Device Testing Framework (dtf)</a></li>
          </ul>
        </li>
        <li class="nav-link"><a href="/speaking">Public Appearances</a></li>
      </ul>
    </nav>
  </div>
</header>
